# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\COURS L3 GL\python\growFundingProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
